.header {
  background-color: rgba($color: #cccccc, $alpha: 1);
  height: 50px;
  position: relative;
  text-align: right;
}

.icons {
  position: absolute;
  bottom: 5px;
  right: 5px;
}

span {
  margin: 0px 10px;
}

img {
  height: 15px;
  padding-right: 15px;
}
