.App {
  display: flex;
  align-items: center;
  flex-direction: column;
  color: #dcdcdc;
}

.viewArea {
  display: flex;
  height: 100%;
  margin: 50px 200px;
}

.profileImg {
  border-radius: 50%;
  margin: 25px 0px;
  height: 150px;
}

.footer {
  position: fixed;
  bottom: 0;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.footerNav {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  width: 350px;
  padding: 40px 0px;
}

.solid {
  width: 400px;
}

a:link {
  text-decoration: none;
  color: #dcdcdc;
}

a:visited {
  text-decoration: none;
  color: #dcdcdc;
}

a:hover {
  text-decoration: none;
  transition: 0.3ms all ease-in-out;
  color: #b3b3b3;
}
a:active {
  text-decoration: none;
  color: #b3b3b3;
}
